<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="tg" />
        </intent>

        <package android:name="gplx.qr.barcode.scanner.generator" />
    </queries>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".SimpleBudget"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_simple_budget"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:supportsRtl">
        <!-- Disable advertising ID and SSAID for GA & FCM -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" /> <!-- Backup -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".view.main.MainActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name_simplebudget_title"
            android:launchMode="standard"
            android:logo="@drawable/ic_logo_white"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="simplebudget.online" />
                <data android:pathPrefix="/simplebudget" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="simplebudget.online" />
                <data android:pathPattern="/settings" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="simpleplanningstudio.online" />
                <data android:pathPattern="/simplebudget" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="simpleplanningstudio.online" />
                <data android:pathPattern="/settings" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.premium.PremiumActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_premium"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.accounts.AccountDetailsActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/accounts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moreApps.MoreAppsActivity"
            android:exported="false"
            android:label="@string/title_activity_more_apps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.premium.PremiumSuccessActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_premium"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.report.base.MonthlyReportBaseActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_budget_report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.budgets.budgetDetails.BudgetDetailsActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/budget_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.budgets.base.BudgetBaseActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/set_up_budgets_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.reset.ResetAppDataActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/reset_app_data"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.breakdown.base.BreakDownBaseActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/breakdown"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.search.base.SearchBaseActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_search_expenses"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.expenseedit.ExpenseEditActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_add_expense"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.simplebudget.view.budgets.addBudget.AddBudgetActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_add_budget"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.recurringexpenseadd.RecurringExpenseEditActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_recurring_expense_add"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.settings.SettingsActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.settings.help.HelpActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/setting_category_app_support_and_help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.settings.aboutus.AboutUsActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_about_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.settings.openSource.OpenSourceDisclaimerActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/text_copyright"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.settings.backup.BackupSettingsActivity"
            android:exported="false"
            android:label="@string/backup_settings_activity_title" />
        <activity
            android:name=".view.settings.releaseHistory.ReleaseHistoryTimelineActivity"
            android:exported="false"
            android:label="@string/release_history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.settings.webview.WebViewActivity"
            android:exported="false"
            android:label="@string/user_testimonials"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.settings.faq.FAQActivity"
            android:exported="false"
            android:label="@string/faq"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.security.SecurityActivity"
            android:exported="false"
            android:theme="@style/Transparent" />
        <activity
            android:name=".view.category.choose.ChooseCategoryActivity"
            android:exported="false"
            android:label="@string/categories"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.category.manage.ManageCategoriesActivity"
            android:exported="false"
            android:label="@string/manage_categories"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" /> <!-- Push -->
        <service
            android:name=".push.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Notif services -->
        <receiver
            android:name=".notif.AppUpdateBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/accent" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_sdk_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>